name: Build All Documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  compile_job:
    name: test_all
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/lasp/adamant_example:latest
    steps:
      - run: echo "Starting job triggered by a ${{ github.event_name }} event on a ${{ runner.os }} server hosted by GitHub."
      - run: echo "Checking out ${{ github.repository }} on branch ${{ github.ref }}."
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          set-safe-directory: true
          path: adamant_example
      - name: Clone adamant repository
        uses: actions/checkout@v3
        with:
          set-safe-directory: true
          repository: lasp/adamant
          path: adamant
      - name: Build all documentation
        run: bash adamant_example/env/github_run.sh "redo adamant_example/publish"
      - run: echo "Finished with status - ${{ job.status }}."
        if: always()
